# Twilio Configuration
TWILIO_ACCOUNT_SID=ACee4fa3c14f361c864d89d194497dae62
TWILIO_AUTH_TOKEN=6f0d3564f2d7a9e66c4ee27b1aca239c
TWILIO_PHONE_FROM=+33757594907

# GoHighLevel Configuration
GHL_API_KEY=pit-b513c222-b83a-44db-87d2-dbcad3291bae
GHL_LOCATION_ID=your_location_id

# Server Configuration
PORT=3000
NODE_ENV=production

# OTP Configuration (en millisecondes)
OTP_TIMEOUT=600000
OTP_LENGTH=6
