# TWILIO
TWILIO_ACCOUNT_SID=ACee4fa3c14f361c864d89d194497dae62
TWILIO_AUTH_TOKEN=6f0d3564f2d7a9e66c4ee27b1aca239c
TWILIO_PHONE_NUMBER=+33757594907

# GHL
GHL_API_KEY=pit-6ce7ec09-f8be-4e31-ac6d-e8dcd66b1a3d
GHL_LOCATION_ID=a5lPZ2GZOmR8PaeTDi7B

# VERCEL KV
# À ajouter automatiquement par Vercel une fois KV créé
# KV_URL=https://...
# KV_REST_API_URL=https://...
# KV_REST_API_TOKEN=...
